<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<typeAliases>-->
    <!--<typeAlias type="com.example.verification.bean.Collection" alias="Collection"/>-->
    <!--</typeAliases>-->

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 打印sql -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
   <!-- <typeAliases>
        &lt;!&ndash;<typeAlias type="com.example.verification.bean.Collection" alias="Collections"/>&ndash;&gt;
        <package name="com.example.entity"/>
    </typeAliases>-->

    <!--分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>

</configuration>